
<nav class="menu">
  <p class="menu-label">Navigation</p>
  <ul class="menu-list">
    <li><a href="/"{% if page.url == '/' %} class="is-active"{% endif %}>Home</a></li>
    <li><a href="/cv"{% if page.url contains '/cv' %} class="is-active"{% endif %}>CV</a></li>
    <li><a href="/projects"{% if page.url contains '/projects' %} class="is-active"{% endif %}>Projects</a></li>
    <li><a href="/blog"{% if page.url contains '/blog' %} class="is-active"{% endif %}>Blog</a></li>
    <li><a href="/search.html"{% if page.url contains '/search' %} class="is-active"{% endif %}>Search</a></li>
    <li><a href="/tags.html"{% if page.url contains '/tags' %} class="is-active"{% endif %}>Tags</a></li>
    <li><a href="/categories.html"{% if page.url contains '/categories' %} class="is-active"{% endif %}>Categories</a></li>
  </ul>
</nav>
